button, .btn {
    border: 0;
    background: darkgreen;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.8em;
    border-radius: 0.5em;
    line-height: 2em;
    text-decoration: none;
    cursor: pointer;
}